body {
	
	
	
 /* Location of the image */
  background-image: url(IMG_4963_Optimized.JPG);
  background-color: rgba(238, 238, 238, 0.3) !important;
  background-blend-mode: color;
  
  
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  
  
  
  


}




.dropbtn{
   background-color: rgb(16, 60, 90);
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 .up {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
    border: none;
   cursor: pointer;


 }

 
 .dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 
 
 .dropdown a:hover {background-color: #ddd;}
 
 .show {display: block;}


input[type=button]
{
	
  background-color: hsla(0, 0%, 50%, 0.8);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  
}


#topcontent p {
	font-size: 60px;
	margin: auto;
   padding-top: 2px;
   text-align:center;
   font-family: sans-serif;
   color: rgb(16, 60, 90);
   font-variant: small-caps;	
	border-bottom: 2px solid rgb(16, 60, 90);
   background-color: hsla(0, 0%, 50%, 0.3);
   

	
}

#utbildningtext{

   font-size: 22px;
   font-family: Georgia;

}
#kontakt p {

   font-family: monospace;
}

#me {

   text-align: center;
   margin:auto;
}



.Startbuttons {
   text-align: center;
   margin:auto;
}

h1 {

   font-family: sans-serif;
}

h2 {

   
   font-size: 24px;
   

}

#CV {

   text-align: center;
}

#top, #middle, #bottom, #bottom1, #utbildning, #kontakt{
	height: auto;
   width: 600px;
	margin: auto;
 	text-align:center;
	border-left: 2px solid darkgrey;
	border-right: 2px solid darkgrey;
	border-bottom: 2px solid darkgrey;
   background-color: hsla(0, 0%, 50%, 0.3);
   color: rgb(0, 0, 0);
   
	
	
	
}

#wholesection, #lastsection, #ReadMore1, #ReadMore2, #ReadMore3, #ReadMore4, #ReadMore5, #kontakt {
  display: none;
}


@media screen and (max-width: 768px) {

   #mepic {

      height: 40%;
      width: 40%;
   }
   
   body {
	
      /* Location of the image */
       background-image: url(IMG_4963_Optimized_MediaQ.JPG);
       background-color: rgba(238, 238, 238, 0.3) !important;
       background-blend-mode: color;
       
              
       /* Background image is centered vertically and horizontally at all times */
       background-position: center center;
       
       /* Background image doesn't tile */
       background-repeat: no-repeat;
       
       /* Background image is fixed in the viewport so that it doesn't move when 
          the content's height is greater than the image's height */
       background-attachment: fixed;
       
       /* This is what makes the background image rescale based
          on the container's size */
       background-size: cover;
       
       /* Set a background color that will be displayed
          while the background image is loading */
       background-color: #464646;
       
     }


     #top, #middle, #bottom, #bottom1, #utbildning, #kontakt{
      height: auto;
      width: auto;
      margin: auto;
       text-align:center;
      border-left: 2px solid darkgrey;
      border-right: 2px solid darkgrey;
      border-bottom: 2px solid darkgrey;
      background-color: hsla(0, 0%, 50%, 0.3);
      color: rgb(0, 0, 0);
      
      
      
      
   }
  

  
  }




