body {

font-family: Arial, Helvetica, sans-serif;


}



.topnav {
    background-color: rgb(46, 129, 197);
    overflow: hidden;
    text-decoration: none;
    
  }
  
  .topnav li {
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 45px;
   
   
    
  }
  .topnav li a:link, a:visited {
  
  text-decoration: none;
  color: rgb(0, 0, 0);
      
  }
  
  .topnav li:hover {
    background-color: #ddd;
    color: black;
    
  }
  .ProjectList {

text-align: center;

  }

  .ProjectList li {

	height: 225px;
    width: 300px;
    float: center;
	margin: auto;
    text-align:center;
    border-top: 2px solid darkgrey;
	border-left: 2px solid darkgrey;
	border-right: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
  padding: 10px;
  
  }

  .ProjectList li a:link, a:visited {
  
    text-decoration: none;
    color: rgb(0, 0, 0);
        
    }
    
    .ProjectList li:hover {
      background-color: #ddd;
      color: black;
      
    }

   

  .content {
    
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    
  }
  

  


  #myVideo {
    
    width: 100%;
    object-fit: cover;
    z-index: -100;
    overflow: hidden;
  }





  @media screen and (max-width: 768px) {

    #container {
     width: 90%;
   
    }
   
    h1 {
     font-size: 200%;
    }
   
   }